.warning {
    width: 100%;
    min-height: 70px;
    height: calc(100vh/10);
    position: fixed;
    bottom: 0;
    background-color: #252525;
    color: #d1d1d1;
    text-align: center;
    font-size: 40px;
    font-weight: 200;
    font-family: 'IBM Plex Sans JP', sans-serif;
    p {
        letter-spacing: 10%;
    }
    
    
}