<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:title" content="iCheers愛酒窩-綜合首頁" />
    <!-- <meta property="og:image" content="預覽圖 URL" /> -->
    <meta property="og:description" content="讓你窩在家就能享受葡萄酒" />
    <title>iCheers愛酒窩-綜合首頁</title>
  </head>
  <body>
    <%- include('./layout/nav'); -%>

    <h1 class="index-title">我是首頁</h1>
    <img src="../assets/images/cat.jpg" style="width: 300px;" alt="cat">
    <img src="../assets/images/KennyLee.jpg" style="width: 300px;" alt="cat">
    <img src="../assets/images/TonyWang.jpg" style="width: 300px;" alt="cat">

    <%- include('./layout/footer'); -%>
    <%- include('./layout/warning'); -%>
    <script type="module" src="../main.js"></script>
  </body>
</html>
